.registeration-container {
    height: 100vh;
    background-image: url("https://polywork-production.imgix.net/8dk1f5b8pps5catpa4uslzfn4u6h?ixlib=rails-4.2.0&w=1500&auto=format&dpr=5&q=20");
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center;
}


.registeration-container > .registeration-box {
    height: 70vh;
    width: 30vw;
    margin: 0 auto;
    /* border-radius: 25px; */
    /* background-color: rgb(227, 227, 157); */
    
}

.registeration-container > .registeration-box > .signup-header {
    height: 60px;
    /* background-color: aqua; */
}

.registeration-container > .registeration-box > .input-box {
    display: block;
    /* text-align: center; */
    padding: 0 45px;
    /* height: 130px; */
}

.registeration-container > .registeration-box > .input-box > .input {
    /* height: 50%; */
    padding-bottom: 8px;
}

.registeration-container > .registeration-box > .input-box > .input:first-child {
    margin-top: 30px;
}

.registeration-container > .registeration-box > .input-box > .input > input {
    height: 25px;
    width: 80%;
    padding-left: 10px;
    border: 1px solid black;
    /* border-radius: 5px; */
    background: transparent;
}

.registeration-container > .registeration-box > .input-box > button {
    height: 25px;
    width: 100px;
    /* border-radius: 5px; */
    border: 1px solid black;
    margin-left: 5px;
    background: transparent;
}

.registeration-container > .registeration-box > .input-box > button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(12, 11, 11);
}
